---
import '../../styles/startup-page.css';
import { pb } from "../../lib/pocketbase";
import EventsGrid from "../events/EventsGrid";
import type { EventItem } from '../events/types';
const locale = Astro.currentLocale == "de" ? "de" : "en";
const now = new Date().toISOString();

const eventFilter = [
  'date != ""',
  `date >= "${now}"`,
  '(location != "" || eventUrl != "")',
].join(" && ");

const events = await pb.collection<EventItem>("events").getFullList({
  filter: eventFilter,
});
---

<div class="startups-block__surface">
  <EventsGrid events={events} locale={locale} client:load />
</div>
