---
import { Image } from "astro:assets";
import rawConfig from "../../content/site_config.json";
import { SiteSettingsConfigSchema } from "../../content.config.ts";

const config = SiteSettingsConfigSchema.parse(rawConfig);

const { sponsors } = config;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,webp,avif,svg}",
);
for (const sponsor of sponsors) {
  const image = sponsor.image;
  if (image && !images[image]) {
    throw new Error(
      `"${image}" does not exist. Make sure the path is correct and matches the glob pattern.`,
    );
  }
}
---

<div class="m-0 p-0 overflow-hidden flex w-full">
  <div class="flex flex-col flex-wrap md:flex-row w-full space-between gap-x-16 gap-y-4">
    {
      sponsors.map((sponsor) => (
        <a
          class="relative p-5 flex justify-center items-center text-white transition-transform duration-150 ease-in hover:scale-105 overflow-hidden"
          href={sponsor.link}
        >
          {sponsor.image ? (
            <>
              <Image
                src={images[sponsor.image]()}
                alt={sponsor.name ?? ""}
                class="relative h-12.5 w-auto m-0 p-0 object-contain z-10"
              />
            </>
          ) : (
            <h2 class="relative font-display text-white z-10">
              {sponsor.name}
            </h2>
          )}
        </a>
      ))
    }
  </div>
</div>
