---
import { Image } from "astro:assets";
import rawConfig from "../../content/site_config.json";
import { SiteSettingsConfigSchema } from "../../content.config.ts";

const config = SiteSettingsConfigSchema.parse(rawConfig);

const { sponsors } = config;
const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,webp,avif,svg}",
);
for (const sponsor of sponsors) {
  const image = sponsor.image;
  if (image && !images[image]) {
    throw new Error(
      `"${image}" does not exist. Make sure the path is correct and matches the glob pattern.`,
    );
  }
}
---

<div class="m-0 p-0 overflow-hidden flex max-h-[300px] w-full">
  <div class="flex flex-wrap flex-row w-full justify-center">
    {
      sponsors.map((sponsor) => (
        <a class="flex m-7 justify-center items-center text-white transition-transform duration-150 ease-in hover:scale-105" href={sponsor.link}>
          {sponsor.image ? (
            <Image 
              src={images[sponsor.image]()} 
              alt={sponsor.name ?? ""} 
              class="h-[50px] w-auto m-0 p-0 object-contain"
            />
          ) : (
            <h2 class="font-display text-white">{sponsor.name}</h2>
          )}
        </a>
      ))
    }
  </div>
</div>