---
import { twMerge } from "tailwind-merge";
import { localized } from "../../utils/utils";
import type { BlockProps } from "../types/types";
import { sectionVariants } from "../../styles/style-mapping";

type Props = BlockProps<"button">;

const { style, button } = Astro.props;

const sectionClasses = sectionVariants({
  alignment: style?.alignment,
  size: style?.size,
  className:style?.className
});
---

<section class={sectionClasses}>
  <a
    class:list={[
      "inline-block px-5 py-3.75 text-base font-[inherit] text-primary bg-transparent",
      "border-2 border-primary rounded",
      "transition cursor-pointer",
      "hover:bg-primary hover:text-bg"
    ]}
    href={localized(button?.link ?? "", Astro.currentLocale, ["EN", "DE"])}
  >
    {button?.text}
  </a>
</section>