---
import { twMerge } from "tailwind-merge";
import type { BlockProps } from "../types/types";
import { sectionVariants } from "../../styles/style-mapping";

type Props = BlockProps<"custom-block">;

const { style, component } = Astro.props;

const customComponents = import.meta.glob<{ default: any }>(
  "../custom/*.astro",
  { eager: true },
);

const componentPath = `../custom/${component}.astro`;
const DynamicComponent = customComponents[componentPath]?.default;

const sectionClasses = sectionVariants({
  alignment: style?.alignment,
  size: style?.size,
  className:style?.className
});
---

<section class={sectionClasses}>
  {
    DynamicComponent ? (
      <DynamicComponent class={style.className} />
    ) : (
      <div class="p-4 text-sm font-medium text-accent-red bg-accent-red/10 border border-accent-red/20 rounded">
        Error: Component "{component}" not found.
      </div>
    )
  }
</section>