---
import { getCollection } from "astro:content";
import type { BlockProps } from "../types/types";
import { sectionVariants } from "../../utils/style-mapping";
import PostExplorer from "../PostsExplorer"; // Ensure this uses a client directive if it needs React state
import type { PostData } from "../posts/types";

type Props = BlockProps<"posts">;
const { style } = Astro.props;

// Fetch all posts from the 'blog' collection
const allPosts = await getCollection("blog");

// Map Astro's collection entry structure to your flat PostData interface
const displayedPosts: PostData[] = allPosts.map((post) => ({
  ...post.data, // Spread the nested frontmatter fields
  id: post.id,
}));
---

<section
  class={sectionVariants({
    alignment: style?.alignment,
    size: style?.size,
    className: style?.className,
  })}
>
  <PostExplorer posts={displayedPosts} />
</section>
