---
import type { BlockProps } from "../types/types";

type Props = BlockProps<"spacer">;

const { style, size } = Astro.props;
---

<section
  class=`${style.alignment} ${style.size} ${style.className??""}`
  style={`display: inline-block; vertical-align: middle; height: ${size};width: 100%;`}
>
</section>
