---
// You can import your standard Layout component here if it includes your dark theme
import Layout from '../layouts/Layout.astro';
---

<Layout title="Redirecting...">
  <head>
    <meta http-equiv="refresh" content="0;url=/de" />
  </head>
    <main class="min-h-screen flex items-center justify-center text-white mx-auto">
    <p><a href="/de" class="text-primary-muted underline">Redirecting...</a></p>
  </main>
</Layout>