---
import "../styles/global.css";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import DevToolbar from "../components/dev/DevToolbar.astro";

// Maps your path conditional animation smoothly
const root_anim =
  Astro.originPathname.length < 5 ? "animate-appear-slowly" : "";

const not_release = import.meta.env.DEV || import.meta.env.STAGING;
---

<!doctype html>
<html lang={Astro.currentLocale} class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body class="margin-0 min-h-screen bg-bg text-primary font-body">
    <div
      class="absolute top-0 left-0 w-full z-10 mt-18.75 flex flex-col justify-center min-h-screen"
    >
      <Header id="header" class={root_anim} />
      <main id="main-content" class="flex flex-row flex-1 flex-wrap w-full">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
  {not_release && <DevToolbar/>}
  <script>
    const header = document.getElementById("header");

    if (header) {
      window.addEventListener("scroll", () => {
        if (window.scrollY > 50) {
          header.classList.add("active");
        } else {
          header.classList.remove("active");
        }
      });
    }
  </script>
</html>
