---
import "../styles/global.css";
import { Image } from "astro:assets";
import backgroundGradient from "../assets/background_gradient_desktop.svg";
import backgroundGradientMobile from "../assets/background_gradient_mobile.svg";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

const root_anim = Astro.originPathname.length < 5 ? "appear-slowly" : "";
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <BaseHead />
  </head>
  <body>
    <div class="content-wrapper">
      <Header class={root_anim} />
      <main id="main-content" class="content">
        <slot />
      </main>
      <Footer />
    </div>
  </body><script>
    const header = document.getElementById("header")!;

    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        header.classList.add("active");
      } else {
        header.classList.remove("active");
      }
    });
  </script>
</html>
